/*
active color: #3871C1;
non active color: color: #918F90;
header-background: #F4F4F4;


*/

body, html {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

select, input {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	padding-right: 10px;
	box-sizing: border-box;
}

input {
	width: 100%;

}

.header {
	width: 100%;
	background-color: #F4F4F4;
}

.header-inner {
	left: 0;
	right: 0;
	margin: auto;
	max-width: 900px;
	display: flex;
	justify-content: space-between;
}

.header .icon {
  color: #918F90;
  display: flex;
}

.header .icon.active {
	color: #3871C1;
}

.header .icon h1 {
	padding-left: 5px;
}

@media (max-width:679px) {
	.header .icon h1 {
		display: none;
	}
}

.header .icon svg {
	transform: scale(0.8,0.8);
	margin: auto;
}

.form-container {
	height: 100%;
	width: 100%;
	position: relative;
	max-height: 500px;
	background-color: #FFFFFF;
	display: flex;
}

.form-viewport {
	position: relative;
	overflow: hidden;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 900px;
	width: 100%;
	height: 100%;
}

.nav-container {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	max-width: 900px;
	z-index: 10;
	text-align: right;
}

#next {
}

#back {
	display: none;
}

.section-container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	transition: transform 250ms ease-in-out;
}

.section {
	width: 100%;
	max-width: 900px;
	height: 100%;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 50px 0;
}

#traveler th {
	text-align: left;
}

#hotel {
	position: relative;
	width: 100%;
	max-width: 900px;
	overflow: hidden;
}

.hotel-slider {
	position:	absolute;
	height: 100px;
	width: 50px;
	background-color: rgba(0,0,0,.8);;
	z-index: 2;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url('/assets/res/arrow.svg');
	background-position: center;
	background-size: 10px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.hotel-slider.disabled {
	background-color: rgba(0,0,0,.4);
	cursor: default;
}

#hotel-back {
	left: 0;
}

#hotel-next {
	right: 0;
	transform: scaleX(-1);
}

#roomContainer {
	display: flex;
	transition: all 350ms ease-in-out;
	transform: translateX(60px);
}
.room {
	flex-grow: 0;
	padding: 5px;
}

.dangling-select {
	text-align: left;
}

.checkbox-container {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px;
}

.roomDetail {
	border: 1px solid black;
	background-color: white;
}

.roomDetail img {
	width: 180px;
}

.roomDetail table {
	padding: 10px;
}

#flights {
	background-color: pink;
}

#review {
	background-color: red;
}