nav{
    position: fixed;
    top: 0;
    height: 85px;
    min-width: 100%;
    background-color: #fff;
    z-index: 1;
    opacity: 0.9;
}
.nav-link{
    color: #000;
}

nav, img{
 float: left;
 padding: 5px 0 0 0;

}

nav ul{
    direction: none;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 0 5px;

}


nav ul li a {
    text-decoration: none;
    color: #000 !important;
    /* padding: 39px 0; */
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
font-size: 14px;


}
.navbar-expand-lg .navbar-nav .nav-link{
    /* padding-top: 32px;
    height: 86px; */
    padding-top: 49px;
    height: 86px;
    margin-bottom: 33px;
}

.nav ul li, .active a:hover{
    /* background: #007AFF !important; */
    color: #fff !important;
}
nav ul li a:hover{
    background: #000;
    /* background: #283573; */
    /* background: #007AFF; */
    color: #fff !important;


}
nav ul li a:focus{
    background: #000;
    color: #fff !important;

}
nav ul li a:active{
    background: #000;
    color: #fff;

}
.navbar-light .navbar-nav .nav-link:focus{
    color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    top:99px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu  .nav-link{
    margin: 5px 0;
    padding: 13px;
    width: 145px;
    height: 50px;
}

.pull-right{
    width:500px;


}
.pull-right a{
    background: #ff3366;
    padding: 15px 25px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
}
.pull-right a:hover{
    background: #007AFF;
    color: #fff;

}

.pull-right-2{
    width:225px;
    margin-left: -100px;


}
.pull-right-2 a{
    background: transparent;
    padding: 15px 25px;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    border: solid #ff3366 1px;

}
.pull-right-2 a:hover{

    border: solid #007AFF 1px;


}

.support .supportTitle{
    background-color: #f1f1f1;
    padding: 15px 25px;
    color: #ff3366;
    margin-bottom: 0;
}
.support .card{
    border: solid 1px #f1f1f1;
    margin: 15px 5px;
    padding: 0;
}
.support .card-img-top{
    padding-top: 0;
}
.sectiong{
  margin-top: 20px
}

.guidbodySection{
    background: #fff;
    padding-top: 25px;
}

.guideHeader1{
height:100px;
background-image: url("../assets/res/img/Image_002.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.guideHeader2{
    height:auto;
    background: #D1202D
    }
.guideHeader2 h1{
    padding-top:15px;
}

.guideHeader3{
    height:auto;
    background: #1D3865
 }

 .imgp{
    position: relative;
    /* top: -100px; */
    left: 23px;
 }


.guideHeaderText{
 padding-top: 20px;
 padding-left: 25px;
 text-transform: uppercase;
 color: #fff;

}
.guideHeaderText h1,h2{
  color: #fff;

}
.guideHeaderText h3,h4{
    color: #D1202D
 
}

@media only screen and (max-width: 1308px) {
    nav ul li a {
        font-size: 12px;

    }
    .pull-right{
        display: none;
     }

     .pull-right-2{
         display: none;
     }
     /* .pull-right-2{
        width: 230px;
        margin-left: -145px;
     } */
}

@media only screen and (max-width: 1000px) {
    .navbar-nav{
        margin-top: -1px;
        background: #fff;
        width: 100%;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding-top: none;
        height: none;
    }

    nav ul li{
        margin: 0;
        padding: 0;
    }

    nav, img{
        width: 250px;
        margin-top: 5px;


       }

        .navbar-toggler {
            border: solid 1px  #000;
            margin-top: 15px;
        }

      nav ul li a:hover{
        background: #000;
        color: #fff !important;


    }

    nav ul{
        background: #ccc;
        text-align: center;
    }

    .pull-right{
    display: none;
    }
    .pull-right-2{
        display: none;
     }

     nav ul li a{
         font-size: 16px;
     }


}