@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i);

.committee {
  background-color: #fafafa;
}

.gridview-section {
  width: 100%;
}

.footer-info {
  color: initial;
  margin-top: -20px;
}

.footer-info a {
  text-decoration: underline;
  color: black;

}

th.head-item {
  background-color: black;
  color: white !important;;
  user-select: none;
  pointer-events: none;
}

th.head-item *:active {
  color: white;
}

th.head-item:before, th.head-item:after {
  content: none !important;
}

.gridview-table {
  border-collapse: collapse;
  margin: auto;
}

.gridview-table td {
  /* border: 1px solid black; */
  padding: 5px;
}

.form-control {
  border-radius: 0 !important;
  min-height: 1em !important;
  padding: 10px !important;
  background-color: rgba(0,0,0, .3) !important;
  color: white !important;
}

.form-container {
  padding: 10px;
  color: white !important;
}

.form-container p {
  text-align: center;
}

 #agree-container {
  text-align: center;
}
/*
#agree-header15-1h:after {
  content: "I AGREE TO RSVP";
  padding-right: 15px;
} */

body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 6rem;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form input:focus {
  background-color: white !important;
  border-color: black !important;
  color: black !important;
}
.mbr-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#fff;
}
.mbr-form::-moz-placeholder { /* Firefox 19+ */
  color:#fff;
}
.mbr-form :-ms-input-placeholder { /* IE 10+ */
  color:#fff;
}
.mbr-form :-moz-placeholder { /* Firefox 18- */
  color:#fff;
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qxd9rXYxrE {
  background-image: url("../../../assets/images/thinkstockphotos-649012980-2000x1600.jpg");
}
.cid-qylsbiLbEX {
  padding-top: 105px;
  padding-bottom: 45px;
  background: #ffffff;
}
.cid-qylsbiLbEX .image-block {
  margin: auto;
}
.cid-qylsbiLbEX figcaption {
  position: relative;
}
.cid-qylsbiLbEX figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qylsbiLbEX .image-block {
    width: 100% !important;
  }
}
.cid-qxddGtMkHa {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qxddGtMkHa .mbr-section-subtitle {
  color: #767676;
}
.cid-qxddGtMkHa B {
  color: #232323;
}
.cid-qyltm4loIX {
  padding-top: 30px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-qyltm4loIX .mbr-section-subtitle {
  color: #767676;
}
.cid-qyltm4loIX B {
  color: #232323;
}
.cid-qyltm4loIX .mbr-section-subtitle B {
  color: #ff3366;
}
.heightSize{
  height: 85vh !important;
}
.cid-qyqOJQUrTg .modal-body .close {
  background: #1b1b1b;

}
.cid-qyqOJQUrTg .modal-body .close span {
  font-style: normal;
}
.cid-qyqOJQUrTg .carousel-inner > .active,
.cid-qyqOJQUrTg .carousel-inner > .next,
.cid-qyqOJQUrTg .carousel-inner > .prev {
  display: table;
}
.cid-qyqOJQUrTg .carousel-control .icon-next,
.cid-qyqOJQUrTg .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-qyqOJQUrTg .carousel-control:hover {
  /* background: #1b1b1b; */
  color: #fff;
  opacity: 1;

}
@media (max-width: 767px) {
  .cid-qyqOJQUrTg .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qyqOJQUrTg .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-qyqOJQUrTg .boxed-slider > div {
  position: relative;


}
.cid-qyqOJQUrTg .container img {
  width: 100%;

}
.cid-qyqOJQUrTg .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;

}
.cid-qyqOJQUrTg .mbr-section {
  padding: 0;
  background-attachment: scroll;

}
.cid-qyqOJQUrTg .mbr-table-cell {
  padding: 0;

}
.cid-qyqOJQUrTg .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-qyqOJQUrTg .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);


}
.cid-qyqOJQUrTg .mbr-overlay {
  z-index: 1;
}
.cid-qyqOJQUrTg .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qyqOJQUrTg .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;


}
@media (max-width: 576px) {
  .cid-qyqOJQUrTg .carousel-item .container {
    width: 100%;

  }
}
.cid-qyqOJQUrTg .carousel-item-next.carousel-item-left,
.cid-qyqOJQUrTg .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-qyqOJQUrTg .active.carousel-item-right,
.cid-qyqOJQUrTg .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-qyqOJQUrTg .active.carousel-item-left,
.cid-qyqOJQUrTg .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-qyqOJQUrTg .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;

  /* background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%; */
  transition: all .3s;
}
.cid-qyqOJQUrTg .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
/*.carousel-control-bottom{
  position: absolute;
  top: -110px;
  bottom: 0;
  left: 47%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  color: #fff;
  text-align: center;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: .5;
  -webkit-animation: KEYFRAME-NAME 2s infinite ;
  -moz-animation:    KEYFRAME-NAME 2s infinite ;
  -o-animation:      KEYFRAME-NAME 2s infinite ;
  animation:         KEYFRAME-NAME 2s infinite ;
}*/
.img-1{

}
.img-2{

}
.space{
  margin-bottom: 135px;
}
.arrow-bottom-div{
  position: relative;
      top: -113px;
      max-width: 100%;
      text-align: center;

      opacity: .5;
      -webkit-animation: KEYFRAME-NAME 2s infinite ;
      -moz-animation:    KEYFRAME-NAME 2s infinite ;
      -o-animation:      KEYFRAME-NAME 2s infinite ;
      animation:
}
.arrow-margin{
  border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    margin: 0 auto;

  margin: 0 auto;
}
.arrow-bottom-div img{
  width: 100px;
padding: 25px;
height: 100px;
}
@-webkit-keyframes KEYFRAME-NAME {
  0%   { top: -115px;opacity: 0; }

  100% { top: -110;opacity: 1;}
}
@-moz-keyframes KEYFRAME-NAME {
  0%   { top: -115px;opacity: 0; }

  100% { top: -110;opacity: 1;}
}
@-o-keyframes KEYFRAME-NAME {
  0%   { top: -115px;opacity: 0; }

  100% { top: -110;opacity: 1;}
}
@keyframes KEYFRAME-NAME {
  0%   { top: -145px;opacity: 0; }

  100% { top: -110;opacity: 1;}
}

@media (max-width: 500px) {
  .cid-qyqOJQUrTg .mbr-slider .carousel-control{
    top : 50% !important;
  }
  .arrow-bottom-div{
    display: none !important;
  }
  .Adam-left{
    left: -47px !important;
    height: 70px !important;
  }
  .Adam-right{
    left: 53px !important;
    height: 70px !important;
  }

  .cid-qxi0AWApXm .media-wrap img{
    height: 95px !important;
    max-width: 175px;
  }
  .img-2{
    float: right;
  }
  .img-1{
    float: left;
  }
  .cid-qxi0AWApXm{
    padding-bottom: 10px !important;
  }
}
.cid-qyqOJQUrTg .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qyqOJQUrTg .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-qyqOJQUrTg .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-qyqOJQUrTg .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-qyqOJQUrTg .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-qyqOJQUrTg .mbr-slider .carousel-indicators li.active,
.cid-qyqOJQUrTg .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-qyqOJQUrTg .mbr-slider .carousel-indicators li::after,
.cid-qyqOJQUrTg .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-qyqOJQUrTg .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-qyqOJQUrTg .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-qyqOJQUrTg .mbr-slider > .container img {
  width: 100%;
}
.cid-qyqOJQUrTg .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qyqOJQUrTg .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-qyqOJQUrTg .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qyqOJQUrTg .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qyqOJQUrTg .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-qyqOJQUrTg .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-qyqOJQUrTg .full-screen .slider-fullscreen-image {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-qyqOJQUrTg .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-qyqOJQUrTg .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-qyqOJQUrTg .full-screen .carousel-item .container.container-slide {
  width: 100%;
  height: 80vh;
  padding: 0;
}
.cid-qyqOJQUrTg .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-qyqOJQUrTg .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-qyqOJQUrTg .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-qylucsYnAc {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}
.cid-qylucsYnAc .mbr-section-subtitle {
  color: #767676;
}
.cid-qylucsYnAc .container-table {
  margin: 0 auto;
}
.cid-qylucsYnAc .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qylucsYnAc .dataTables_wrapper {
  display: block;
}
.cid-qylucsYnAc .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-qylucsYnAc .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qylucsYnAc table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #c1c1c1;
  margin-bottom: 0;
}
.cid-qylucsYnAc table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-qylucsYnAc table th:hover {
  background: #c1c1c1;
  color: #000000;
}
.cid-qylucsYnAc table td {
  border-top: 1px solid #c1c1c1;
}
.cid-qylucsYnAc .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qylucsYnAc .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qylucsYnAc .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qylucsYnAc .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qylucsYnAc .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qylucsYnAc .dataTables_filter {
    text-align: center;
  }
  .cid-qylucsYnAc .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qylucsYnAc .head-item {
  text-align: left;
  color: #0f7699;
}
.cid-qylucsYnAc .body-item {
  color: #232323;
}
.cid-qylvcvXYT3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}
.cid-qylvcvXYT3 .mbr-section-subtitle {
  color: #767676;
}
.cid-qylvcvXYT3 .container-table {
  margin: 0 auto;
}
.cid-qylvcvXYT3 .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qylvcvXYT3 .dataTables_wrapper {
  display: block;
}
.cid-qylvcvXYT3 .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-qylvcvXYT3 .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qylvcvXYT3 table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-qylvcvXYT3 table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-qylvcvXYT3 table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-qylvcvXYT3 table td {
  border-top: 1px solid #cccccc;
}
.cid-qylvcvXYT3 table.table {
  background: #ffffff;
}
.cid-qylvcvXYT3 .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qylvcvXYT3 .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qylvcvXYT3 .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qylvcvXYT3 .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qylvcvXYT3 .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qylvcvXYT3 .dataTables_filter {
    text-align: center;
  }
  .cid-qylvcvXYT3 .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qylvcvXYT3 .head-item {
  color: #0f7699;
}
.cid-qylwMeHBMn {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qylwMeHBMn .mbr-section-subtitle {
  color: #767676;
}
.cid-qylwMeHBMn .container-table {
  margin: 0 auto;
}
.cid-qylwMeHBMn .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qylwMeHBMn .dataTables_wrapper {
  display: block;
}
.cid-qylwMeHBMn .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-qylwMeHBMn .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qylwMeHBMn table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-qylwMeHBMn table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-qylwMeHBMn table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-qylwMeHBMn table td {
  border-top: 1px solid #cccccc;
}
.cid-qylwMeHBMn table.table {
  background: #ffffff;
}
.cid-qylwMeHBMn .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qylwMeHBMn .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qylwMeHBMn .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qylwMeHBMn .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qylwMeHBMn .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qylwMeHBMn .dataTables_filter {
    text-align: center;
  }
  .cid-qylwMeHBMn .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qylwMeHBMn .head-item I {
  color: #0f7699;
}
.cid-qylwMeHBMn .head-item {
  color: #0f7699;
}
.cid-qyeA3v3w2R {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #fafafa;
}
.cid-qxi0AWApXm {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #EFEFEF;
}
@media (max-width: 767px) {
  .cid-qxi0AWApXm .content {
    text-align: center;
  }
  .cid-qxi0AWApXm .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qxi0AWApXm .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-qxi0AWApXm .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-qxi0AWApXm .media-wrap img {

  width: 100px;
  margin: 10px;
}
@media (max-width: 767px) {
  .cid-qxi0AWApXm .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qxi0AWApXm .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qxi0AWApXm .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qxi0AWApXm .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qxi0AWApXm .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qxi0AWApXm .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qxi0AWApXm .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qxi0AWApXm .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qxi0AWApXm H5 {
  color: #232323;
}
.cid-qxi0AWApXm P {
  text-align: left;
  color: #232323;
}
.cid-qxd9rC13hE .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qxd9rC13hE .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qxd9rC13hE a {
  font-style: normal;
}
.cid-qxd9rC13hE .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxd9rC13hE .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxd9rC13hE .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxd9rC13hE .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxd9rC13hE .menu-logo {
  margin-right: auto;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
  font-size: 14px;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxd9rC13hE .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxd9rC13hE .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxd9rC13hE .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxd9rC13hE button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxd9rC13hE button.navbar-toggler:focus {
  outline: none;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxd9rC13hE .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qxd9rC13hE .collapsed .btn {
  display: flex;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxd9rC13hE .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxd9rC13hE .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qxd9rC13hE .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxd9rC13hE .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxd9rC13hE.navbar-expand {
    flex-direction: column;
  }
  .cid-qxd9rC13hE img {
    height: 3.8rem !important;
  }
  .cid-qxd9rC13hE .btn {
    display: flex;
  }
  .cid-qxd9rC13hE button.navbar-toggler {
    display: block;
  }
  .cid-qxd9rC13hE .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qxd9rC13hE .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxd9rC13hE .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing,
  .cid-qxd9rC13hE .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxd9rC13hE .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qxd9rC13hE .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qxiS6nmBeU {
  background-image: url("../../../assets/images/thinkstockphotos-200508107-1-2000x1213.jpg");
}
.cid-qxiS6nmBeU .form-container {
  transition: all .2s;
  border: 1px solid #ffffff;
  padding: 1rem;
}
.cid-qxiS6nmBeU .input-group-btn {
  justify-content: center;
}
@media (min-width: 768px) {
  .cid-qxiS6nmBeU .content-container {
    padding-right: 5rem;
  }
}
.cid-qxd9rC13hE .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qxd9rC13hE .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qxd9rC13hE a {
  font-style: normal;
}
.cid-qxd9rC13hE .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxd9rC13hE .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxd9rC13hE .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxd9rC13hE .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxd9rC13hE .menu-logo {
  margin-right: auto;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxd9rC13hE .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxd9rC13hE .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxd9rC13hE .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxd9rC13hE button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxd9rC13hE button.navbar-toggler:focus {
  outline: none;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxd9rC13hE .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qxd9rC13hE .collapsed .btn {
  display: flex;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxd9rC13hE .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxd9rC13hE .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qxd9rC13hE .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxd9rC13hE .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxd9rC13hE.navbar-expand {
    flex-direction: column;
  }
  .cid-qxd9rC13hE img {
    height: 3.8rem !important;
  }
  .cid-qxd9rC13hE .btn {
    display: flex;
  }
  .cid-qxd9rC13hE button.navbar-toggler {
    display: block;
  }
  .cid-qxd9rC13hE .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qxd9rC13hE .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxd9rC13hE .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing,
  .cid-qxd9rC13hE .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxd9rC13hE .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qxd9rC13hE .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qxYacEgcrM {
  background-image: url("../../../assets/images/100314-coburg-bar-3-101-1600x1067.jpg");
  padding: 25px;
  height: 100%;
}
.cid-qxYacEgcrM .form-container {
  transition: all .2s;
  border: 1px solid #ffffff;
  padding: 1rem;
  margin: 35px 0;
}
.cid-qxYacEgcrM .input-group-btn {
  justify-content: center;
}
@media (min-width: 768px) {
  .cid-qxYacEgcrM .content-container {
    padding-right: 5rem;
    padding-top: 5rem;
  }
}

@media (max-width: 500px) {
  .cid-qxYacEgcrM {
    height: 150vh;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .cid-qxYacEgcrM {
    height: 155vh;
    padding: 0;
  }
}
.cid-qxd9rC13hE .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qxd9rC13hE .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qxd9rC13hE a {
  font-style: normal;
}
.cid-qxd9rC13hE .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxd9rC13hE .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxd9rC13hE .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxd9rC13hE .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxd9rC13hE .menu-logo {
  margin-right: auto;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxd9rC13hE .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxd9rC13hE .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxd9rC13hE .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxd9rC13hE .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxd9rC13hE .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxd9rC13hE .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxd9rC13hE .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxd9rC13hE button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxd9rC13hE button.navbar-toggler:focus {
  outline: none;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxd9rC13hE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxd9rC13hE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxd9rC13hE .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qxd9rC13hE .collapsed .btn {
  display: flex;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxd9rC13hE .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxd9rC13hE .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxd9rC13hE .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxd9rC13hE .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qxd9rC13hE .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxd9rC13hE .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxd9rC13hE .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxd9rC13hE.navbar-expand {
    flex-direction: column;
  }
  .cid-qxd9rC13hE img {
    height: 3.8rem !important;
  }
  .cid-qxd9rC13hE .btn {
    display: flex;
  }
  .cid-qxd9rC13hE button.navbar-toggler {
    display: block;
  }
  .cid-qxd9rC13hE .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qxd9rC13hE .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxd9rC13hE .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing,
  .cid-qxd9rC13hE .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxd9rC13hE .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxd9rC13hE .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxd9rC13hE .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxd9rC13hE .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qxd9rC13hE .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qxY5x01ied {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qxY5x01ied .mbr-section-subtitle {
  color: #767676;
}
.cid-qxY57sLcq9 {
  padding-top: 120px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/coburg-bar-1-44-1600x1200.jpg");
}
.cid-qxY4GuDbDA {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qxY4GuDbDA .mbr-section-subtitle {
  color: #767676;
}
